

@import 'helpers/_helpers'
@import 'helpers/_mixins' 
@import 'helpers/_reset'
@import 'helpers/_variables'  

@import 'partials/about'
@import 'partials/app' 
@import 'partials/header' 
@import 'partials/hero' 
@import 'partials/logo' 
@import 'partials/navigation' 
@import 'partials/requirements' 
@import 'partials/user' 
@import 'partials/users'
@import 'partials/register' 

@import 'partials/input'


html
  position: relative
  box-sizing: border-box
  min-height: 100%

*,	*::before, *::after
  box-sizing: inherit
::-ms-clear
  display: none
*
  &:focus, &:visited, &:active, &:hover
    outline: 0 !important
  &::-moz-focus-inner
    border: 0
body
  font-family: $default-font
  font-size: 16px
  line-height: 1
  overflow-x: hidden 

h1 
  font-size: 50px  
  +lg 
    font-size: 42px 

  +sm 
    size: 30px

h2 
  font-size: 42px  
  +sm 
    font-size: 22px 


h3 
  font-size: 26px 

h4 
  font-size: 22px 
   
h5 
  font-family: $secondary-font  
  font-weight: 400 
  font-size: 18px
  +sm 
    16px 


p
  font-family: $secondary-font 
  line-height: 1.2
  font-size: 20px  
  font-weight: 400 
   

.p1 
  font-size: 18px 

.p2 
  font-size: 16px 

.p3 
  font-size: 14px 

.container 
  max-width: 1170px 


.btn 
  display: inline-block
  width: 290px 
  height: 40px  

  color: $c-light 
  font-family: $secondary-font 
  font-size: 20px
  font-weight: 700 

  border-radius: 4px 
  background-color: $c-main  
